body{
    background-color: #00171F;
    margin: 0;
}

.icon-container img{
    width: 50px;
}

*{
    --primary:#000;
    --secondary:#FFF;
    --customcolor1:#07004D;
    --customcolor2:#2D82B7;
    --customcolor3:#42E2B8;

    color: var(--customcolor1);
    background-color: var(--secondary);
}

.navbar{
    display: flex;
    flex-direction: row;
    position:sticky;
    top: 0;
    background-color: black;
    padding:0;
    margin: 0;
    border: 0;
}
.navbar-home-container{
    width: 70px;
    background-color: transparent;
}

.navbar-home-container img{
    width: 50px;
    height: 65px;
    margin: 10px 10px 10px 10px;
    transition: all 0.25s;

}
.navbar-home-container img:hover{
    width: 60px;
    height: 78px;
    margin: 3.5px 5px 3.5px 5px;
    cursor: pointer;
}
#navbar-logo-button{
    background-color: transparent;
    margin: 0;
    padding:0;
    border: 0;
}