:root{
    margin: none;
    padding:none;
    --primary:rgb(235,239,244);
    --secondary:rgb(26,26,26);
    --accent: rgb(24,120,252);

    background-color: var(--primary);
    color: var(--secondary);

}

body{
    margin: 0;
}

.primary-button {
    background-color: transparent;
    border:none;
    flex-direction: column;

    transition: all 0.25s;

    font-size: larger;
    color: var(--primary);

}

.primary-button:hover {
    cursor: pointer;
    color: var(--accent);
}

.navbar{
    display: flex;
    flex-direction: row;
    position:sticky;
    top: 0;
    background-color: var(--secondary);
    border: none;
    padding:0;
    margin: 0;
    border: 0;
    
}   

.navbar-home-container{
    width: 70px;
    background-color: transparent;
}

.navbar-home-container img{
    width: 50px;
    height: 65px;
    margin: 10px 10px 10px 10px;
    transition: all 0.25s;

}
.navbar-home-container img:hover{
    width: 60px;
    height: 78px;
    margin: 3.5px 5px 3.5px 5px;
    cursor: pointer;
}

.navbar-links-container{        
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    padding-right: 10px;
    
}

#navbar-logo-button{
    background-color: transparent;
    margin: 0;
    padding:0;
    border: 0;
}