*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
}
/* Select just a class */
.primary-button {
    background-color: #EF233C;
    border: 1px solid #F7C59F;
    border-radius: 4px;
    flex-direction: column;
    margin-left: 5px;
    margin-Right: 5px;
    color:#F7C59F;
    transition: all 0.25s;
}

.primary-button:hover {
    cursor: pointer;
    background-color: #D80032;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
}

.navbar{
    display: flex;
    flex-direction: row;
    position:sticky;
    top: 0;
    background-color: #8D99AE;
    padding:0;
    margin: 0;
    border: 0;
}   

.navbar-home-container{
    width: 70px;
    background-color: transparent;
}

.navbar-home-container img{
    width: 50px;
    height: 65px;
    margin: 10px 10px 10px 10px;
    transition: all 0.25s;

}
.navbar-home-container img:hover{
    width: 60px;
    height: 78px;
    margin: 3.5px 5px 3.5px 5px;
    cursor: pointer;
}

.navbar-links-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
}

#navbar-logo-button{
    background-color: transparent;
    margin: 0;
    padding:0;
    border: 0;
}



