.page-num{
    position: fixed;
    bottom:0;
    right:0;
    width:60px;
}

.page-num p{
    margin:5px;
}

body{
    background-color: black;
    
}

/* Generic classes */

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;

}

*{
    --primary:#000;
    --secondary:#fff;

    color: var(--secondary);
}

/* Specific classes */

#navbar{

}

#navbar .left-nav-container {
    font-size: 12px;

    width: 50%;
    color: white;
}

#navbar .left-nav-container img{
    width: 50px;
}

#navbar .hamburger-button {
    background: none;
    border: 0;
}

#navbar .hamburger-button:hover img{
    width: 30px;
}

.arrow-button {
    background: none;
    border: 0;
    color: white;
    font-size: 20px;
}

.arrow-button:hover img{
   cursor: pointer;
   width : 40px;
}

.arrow-button:active img{
    width: 50px;
}

.arrow-button img {
    width: 30px;

}