:root{
    margin: none;
    padding:none;
    --primary:rgb(235,239,244);
    --secondary:rgb(26,26,26);

    background-color: var(--primary);
    color: var(--secondary);


}
/* Select just a class */
.primary-button {
    background-color: transparent;
    border:none;
    flex-direction: column;

    transition: all 0.25s;

    font-size: larger;
}

.primary-button:hover {
    cursor: pointer;

}

.navbar{
    display: flex;
    flex-direction: row;
    position:sticky;
    top: 0;
    background-color: var(--primary);
    border: none;
    padding:0;
    margin: 0;
    border: 0;
    
}   

.navbar-home-container{
    width: 70px;
    background-color: transparent;
}

.navbar-home-container img{
    width: 50px;
    height: 65px;
    margin: 10px 10px 10px 10px;
    transition: all 0.25s;

}
.navbar-home-container img:hover{
    width: 60px;
    height: 78px;
    margin: 3.5px 5px 3.5px 5px;
    cursor: pointer;
}

.navbar-links-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    
}

#navbar-logo-button{
    background-color: transparent;
    margin: 0;
    padding:0;
    border: 0;
}


.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}

.project{
    background-color:white;
    border-radius: 5px;
    margin: 10px 5px;
    padding:30px 30px 20px 30px;
    width:25%;
}

.project-title{
    color: aqua;
}

.project-text
{
    padding: 10px 10px;
}


.project-row
{

    flex-wrap: wrap;

    margin: 0px 100px;
}

.project-image
{
    background-color: rgb(24,120,252);

    padding: 40px 20px 0px 20px;
}
.project-image img{
    width: 100%;
    padding: none;
    border: none;
    margin: none;
}



